<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="kromodix-github" value="https://nuget.pkg.github.com/KroModIx/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="kromodix-github">
      <package pattern="KroModIx.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
